<h1>Workout on <%= @workout.date.to_formatted_s(:long) %></h1>

<% unless @workout.exercises.empty? %>
	<% @workout.exercises.each do |exercise| %>
		<p><%= exercise.name %></p>
		<% exercise.exercise_sets.each do |set| %>
			<p><%= set.reps %> at <%= set.weight %>
		<% end %>
	<% end %>
<% end %>
